
.links-container {
    position: fixed;
    top: 2%;
    right: 1%;
    list-style: none;
    margin: 0;
    padding: 0;
   
    div {
        line-height: 0;
        margin: 5px;
        
        :hover {
            color: #6ccbdb;
        }
        .link-button {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            color: whitesmoke;
        }
    }
}
