footer {
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  font-size: 12px;
  
}

.emailLink {
  color: rgb(32, 32, 32);
  text-decoration: none;
}
.bottom-bdr {
  padding: 1rem;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.icon-style {
  text-align: center;
}
.navLink {
  color: #333;
}

.navLink:hover {
  color: #007bff;
}
