@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

h1 {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    padding-top: 10vh;
}

.hdr-style {
    text-align: center;
}

.pic-style {
    border-radius: 150px;
    margin-top: 5vh;
    width: 300px;
}