
body {
  background-color: #FAE3C4;
}
.noscript-jumbo-gap {
    margin-top: 5em;
}

.noscript-jumbo-style {
    background-color: #989488;
    color: whitesmoke;
}

.noscript-btn {
    margin-top: 2em;
    text-align: center;
}