@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

.tech-style {
    font-family: 'Roboto', sans-serif;
    i {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    ul {
        color: #bebebe;
    }
}