@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

section {
    width: 100%;
    max-width: 100%;
    min-height: 75vh;
    background-color: whitesmoke;
    div {
        margin: 0 10%;
        padding-top: 50px;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        padding: 20px;
        justify-content: space-around;
        align-content: flex-start;
        overflow: auto;
    }
}
